
<h3>An error occured while processing your request. The support team has been notified</h3>
<h5>
    Please contact the administrator
</h5>
<hr />

<p>@ViewBag.ExceptionPath</p>
<p>@ViewBag.ExceptionMessage</p>
<p>@ViewBag.Stacktrace</p>


<a asp-action="index" asp-controller="home">
    Click Here to navigate to the Home Page
</a>






