
@{
    ViewBag.Title = "Not Found";
}

<h1>@ViewBag.ErrorMessage</h1>
<h1>@ViewBag.OriginalPath</h1>
<h1>@ViewBag.OriginalQueryString</h1>


<a asp-action="index" asp-controller="home">
     Click Here to navigate to the Home Page
</a>





